.page{
    display: flex;
    gap: 10px;
    padding: 20px;

    height: 100%;

    .pageCont1{
        display:flex;
        flex: 0 1 auto;
    }

    .pageCont2{
        display:flex;
        flex: 4 1 auto;

        background-color: aqua;
    }

    .pageCont3{
        display:flex;
        flex: 2 1 auto;

        background-color: #bad7f2;
    }
}