.page{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

    .pageCont1{
        display:flex;
        flex: 0 1 auto;


        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
        
            height: 100vh;
            width: fit-content;
        }
    }

    .pageCont2{
        height: 90vh;
        display:flex;
        flex: 5 1 auto;

        flex-wrap: wrap;
        gap: 15px;

        .boxTop{
            width: 100%;
            height: fit-content;
            padding: 0 20px;
            border-radius: 20px;
            background-color: lightgrey;
        }

        .boxCont{
            width: 100%;
            height: calc(100vh - 100px - 60px);
            padding: 20px 20px;
            border-radius: 10px;
            background-color: lightgrey;
        }

    }

    
}




